.video-section .pattern-overlay {
background-color: rgba(71, 71, 71, 0.59);
padding: 110px 0 32px;
min-height: 496px; 
/* Incase of overlay problems just increase the min-height*/
}
.video-section h1, .video-section h3{
text-align:center;
color:#fff;
}
.video-section h1{
font-size:110px;
font-family: 'Buenard', serif;
font-weight:bold;
text-transform: uppercase;
margin: 40px auto 0px;
text-shadow: 1px 1px 1px #000;
-webkit-text-shadow: 1px 1px 1px #000;
-moz-text-shadow: 1px 1px 1px #000;
}
.video-section h3{
font-size: 25px;
font-weight:lighter;
margin: 0px auto 15px;
}
.video-section .buttonBar{display:none;}
.player {font-size: 1px;}

.bgcolor{
	background-color: #218C8D;
}

.btn-primary {background-color: #6CCECB};

.btn-primary:hover { background-color: #6CCECB};

.bgvideo{
	background-color: #6CCECB;
}

.responsive-width {
    font-size: 1.7vw;
}

.frame { width: 200%; height: 250px; padding: 0; }
.frame .slidee { margin: 0; padding: 0; height: 100%; list-style: none; }
.frame .slidee li { float: left; margin: 0 5px 0 0; padding: 0; width: 250px; height: 100%; }

.scrollbar { width: 100%; height: 10px; }
.scrollbar .handle {
    width: 100px; /* overriden if dynamicHandle: 1 */
    height: 100%;
    background: #222;
}


#frame {
	height: 500px;
    margin: 0px 0px;
    padding: 10px 0px; //(ver,hor)
	overflow: hidden;
    width: 250px;
}
.slidee {
	list-style: none;
	margin: 0px 10px;
    padding: 0px 0px;
	height: 250%;
	font-size: 30px;
}
.slidee li {
	float: left;
	height: 100%;
	margin: 0 5px 0 0;
	background: #fff;
    border: solid black;
    border-radius: 20px;
	color: #ddd;
	text-align: center;
	cursor: pointer;
}
.slidee li.active {
	border: solid red;
}
p {
  font-size: 14px;
  color: #000;
}
.scrollbar {
	margin: 0 0 1em 0;
	height: 2px;
	background: #ccc;
	line-height: 0;
}
.scrollbar .handle {
	width: 100px;
	height: 100%;
	background: #292a33;
	cursor: pointer;
}
.scrollbar .handle .mousearea {
	position: absolute;
	top: -9px;
	left: 0;
	width: 100%;
	height: 20px;
}
